<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Teach for america tfa.org</h1>
    <p>
      This email is to inform you that content content created by <%= @user %> was flagged.<br>
    </p>
    <p>
      To login to the site and check the content, just follow this link: <%= @url %>.
    </p>
    <p>Thanks we wish you have a great day!</p>
  </body>
</html>