<div class="card   " style=" width: 18rem;">
  <div class="card-body ">
    I'm a Course card
    <div class="card-title">
      <div><h3><%= course.title %></h3></div>
      <br>
      <div class="mb-4"><h4><%= course.description %></h4></div>
    </div>
    <a href='/courses/<%="#{course.searchable_id}"%>' class="btn btn-outline-primary">View Course</a>
  </div>
</div>
