<div class="custom-container">
  <div class="row">
    <div class="col-md-9 col-lg-8 mx-auto">
    <h2 class="title mt-5 mb-5 display-3" style="text-align:center">About Us</h2>
      <div class="container-home text-center">
        <p > The Lesson Plan Library was developed through a partnership between Teach For America North Carolina and Code The Dream, a software development company making custom web and mobile technologies accessible in diverse, low-income communities. We believe that by having access to ready-to-implement lessons, teachers will then have more time for the best parts of their job -- building relationships with students and families and delivering on the promise of providing an excellent and equitable education to their entire class. Corps members may share lesson plans, leave notes, and "star" resources based on their effectiveness here, increasing the power of the collective, in pursuit of “One day.” </p>          
      </div>
    </div>
  </div>
</div>
