<div class="header_pillow  "></div> 
<div class="logo_end text-center  ">
  <img src="assets/LessonPlanLibrary-Logo.png" >   
</div>

<div class="container pt-5 ">
  
  <div class="text-center about_text">    
     
    <p class="mb-2">Search the bank of ready-to-implement courses and lesson </br> plans and focus on building relationships and providing an </br> excellent and equitable education to your entire class. </p>
    <hr style="width: 2px; height: 50px; background: lightgrey; border: none;" />
    <div class="container"> 
      <div class="row"> 
        <div class="center-items">
        <%= render 'layouts/search_landingpage' %>
      </div>
      </div>
    </div>
  </div>


  <div class="row text-center text-lg-left four_img">
 
    <div class="col-lg-3 col-md-4 col-6 mx-auto">
        
        <img class="img-fluid pic_landing" src="assets/RandiHildreth.2013.51.jpg" alt="">        
   
    </div>
    <div class="col-lg-3 col-md-4 col-6 mx-auto">      
        <img class="img-fluid pic_landing " src="assets/mask.jpg" alt="">     
    </div>
    <div class="col-lg-3 col-md-4 col-6 mx-auto">
     
        <img class="img-fluid pic_landing" src="assets/VinnieAmendolare.2013.77.jpg" alt="">           
    
    </div>
    <div class="col-lg-3 col-md-4 col-6 mb-4 mx-auto">
      
        <img class="img-fluid pic_landing" src="assets/OD2016_WINTER_151130_MilaniLawrence_006.jpg" alt="">           
          
    </div>
    <div class="col-12 text-center mt-4 mb-4 original_logo">      
        <img class="img-fluid  " src="assets/TeachForAmerica_logo_coated.jpg" alt="">  
          
    </div>
    <div class="col-12 text-center text-muted " >
      
        <p >Legal Disclaimer Lorem Ipsum is simply dummy teb-xt of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>          
                
    </div>
   
  </div>

</div>
