<h2 class="title mt-5 mb-5 display-3" style="text-align:center">New Document</h2>

<%= render 'form', document: @document %>
<%= link_to 'Back', documents_path, :class => "btn btn-outline-primary btn-sm" %>
