<h2 class="title mt-5 mb-5 display-3" style="text-align:center">Editing Tag</h2>

<%= render 'form', tag: @tag %>

<%# <%= link_to 'Show', course_lesson_path(@course, @lesson), :class => "btn btn-primary btn-sm", :style => "color: white" %> 
<%# <%= link_to 'Back', course_lessons_path, :class => "btn btn-primary btn-sm", :style => "color: white" %> 

