<div class="custom-container container-fluid ">   
  <div class="row justify-content-end ">
    <div class="col-6">  
      <%= render 'layouts/search_landingpage' %>
    </div>
  </div>  
  <h2 class="course_table_title" style="text-align: left;">Lessons</h2>
  <div class="table-responsive">    
    <table class="table  table-striped">
      <div class="admin_table table-sm  table-striped ">
        <thead>         
          <tr>
            <th scope="col"><span style="color:gray">NAME </span><i class=" fa fa-caret-down table_down_arrow"</i></th>
            <th scope="col"><span style="color:gray">AUTHOR </span><i class=" fa fa-caret-down table_down_arrow"</i></th>
            <th scope="col"><span style="color:gray">ADDED </span><i class=" fa fa-caret-down table_down_arrow"</i></th>
            <th scope="col"><span style="color:gray">STATUS </span><i class=" fa fa-caret-down table_down_arrow"</i></th>  
          </tr>
        </thead>     
        <tbody>     
          <% @lessons.each do |lesson| %>      
            <tr>        
              <td data-title="Title"><%= lesson.title %></td>
              <td data-title="Description"><%= lesson.course.user.name %></td>
              <td data-title="Date"><%= lesson.created_at.to_date.strftime("%B %d, %Y")%></td> 
              <% if lesson.present? && !lesson.flags.present?%> 
                <td data-title="State"> Live</td> 
              <% else %>         
                <td data-title="State">Blocked</td>
              <%end%> 
            </tr>
          <%end%>  
        </tbody>
      </div>
    </table>
  </div>
</div>