<h2 class="title mt-5 mb-5 display-3" style="text-align:center">New Lesson</h2>

<%= render 'form', lesson: @lesson %>

<%= link_to 'Back', lessons_path, :class => "btn btn-outline-primary btn-sm" %>

