<h2 class="title mt-5 mb-5 display-3" style="text-align:center">Editing Course</h2>


<%= render 'form', course: @course, available_grade_levels: @available_grade_levels, subjects: @subjects, states: @states %>
