<h2 class="title mt-5 mb-5 display-3" style="text-align:center">Editing Course</h2>


<%= render 'form', course: @course %>
<div class="form-group col">
  <div class="actions">
    <%= link_to 'Show', @course, :class => "btn btn-primary btn-sm", :style => "color: white" %> |
    <%= link_to 'Back', courses_path, :class => "btn btn-primary btn-sm", :style => "color: white" %>
  </div>
</div>