// Place all the styles related to the layouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.navbar {
  min-height: 100px;
  background-color: hsl(0, 0%, 90%);
  transition: background-color 300ms;
}

.search_button {
  background-color: #081e32;
  color: white;
  font-size: 14px !important;
  border-radius: 0% !important;
}
// .search_button:hover {
//   color: #1996aa !important;
//   color: black;
// }
.navbar-nav .nav-item .nav-link {
  font-size: 20px;
  color: rgb(73, 69, 69);
  padding-left: 35px !important;
  margin-right: 25px;
  font-family: Georgia;
  letter-spacing: 1px;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #1996aa;
}
.fancy-toggler.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(25,150,170, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.fancy-toggler.navbar-toggler {
  border-color: #1996aa;
}
.fancy-toggler.navbar-toggler:focus {
  outline-color: #1996aa;
}
