
<div class="row justify-content-center mb-4">
  <div class="col-xl-6">    
      <%= form_tag search_page_path, :method => 'get', enforce_utf8: false do %>
        <div class="row mb-4">
          <div class="input-group">      
            <%= search_field_tag :search, params[:search], placeholder: 'Search for a topic...', class: " form-control form-control-lg", style:'width: 50%' %>
               
            <input type ="submit" value="Search" class="btn-lg my-0 search_button" />      
          </div>
        </div>
      <% end %>    
  </div>
</div>
