<div class="row mx-auto mb-4 center">
  <div class="col-sm-12 col-md-6 col-lg-5">    
    <%= form_tag users_path, :method => 'get', enforce_utf8: false do %>
      <div class="row-sm-12 row-md-6 row-lg-4 ">
        <div class="input-group center-items">      
          <%= search_field_tag :search, params[:search], placeholder: 'Search for a user...', class: " form-control form-control-lg right-arrow", style:'width: 50%' %>
            <button class="btn-lg my-0 search_button">SEARCH <i class="fa fa-solid fa-play yellow-icon-play"></i></button>
        </div>
      </div>
    <% end %>    
  </div>
</div>
