<%= form_tag search_page_path, :method => 'get', enforce_utf8: false do %>
<div class="form-inline">
 <% if current_user&.role == 'teacher' %>
   <div class="input-group">
     <%= check_box_tag 'my_courses', 'yes'  %>
     Search My Courses
   </div>
   <!--<div>
     Lessons
     <label class="switch">
       <%#= check_box_tag 'my_lessons', 'yes' %>
       Search My Lessons
     </label>
     Lessons
   </div>-->
 <% end %>
 
  <form class="form-inline ">
    <%= search_field_tag :search, params[:search], placeholder: 'Search Courses', class: "search_box" %>  
    <%= submit_tag "Search", :class => 'btn btn-outlin btn-lg b_landing ' %>
  
  </form>
</div>

<% end %>
