<div class="col  mx-auto ">    
  <%= render 'layouts/search_user' %>
</div> 

<div class="col mx-auto pagination li center">
  <%= will_paginate @users %>
</div>

<div class="card-container shadow-none">          
  <% @users.each do |user| %>                       
    <%= render 'user_card', user: user %>
  <% end %>                               
</div>  
