<div class="grid-container">    
  <div class="search-filter"> 
  </div>
   
  
  <div class="main-result">  

  <!-- Cards disabled -->
  <div class="switch">
    <label class="switch">
      <input type="checkbox" id="card_checkbox" onChange="check()">
      <span class="slider round"></span> 
    </label>
  </div>
  <div id="user_info">
    <%= render partial: "users/registrations/index_card" %>
  </div>
  </div>
</div>

<script>
  window.check = function check() {
    if (document.getElementById("card_checkbox").checked) {
      $("#user_info").html("<%= escape_javascript(render partial: 'index_table', locals: { } ) %>");
    } else {
      $("#user_info").html("<%= escape_javascript(render partial: 'index_card', locals: { } ) %>");
    };
  }
</script>
