<div class="container-mt5">    
  <%# <div class="search-filter"> </div> %>
  <div class="main-result">  
    <div class="col  mx-auto ">   
      <!-- Cards disabled -->
      <div class="switch">
        <label class="switch">
          <input type="checkbox" id="card_checkbox" onChange="check()">
          <span class="slider round"></span> 
        </label>
      </div>
      <div id="user_info">
        <%= render partial: "users/registrations/index_table" %>
      </div>
    </div>
  </div>
</div>

<script>
  window.check = function check() {
    if (document.getElementById("card_checkbox").checked) {
      $("#user_info").html("<%= escape_javascript(render partial: 'index_card', locals: { } ) %>");
    } else {
      $("#user_info").html("<%= escape_javascript(render partial: 'index_table', locals: { } ) %>");
    };
  }
</script>
